{% extends 'base.html' %}
{% block content %}
    <!-- <header class="hero-section">
        <h3 class="header-text">Welcome to Capstone API</h3>
    </header> -->
    <div class="profile-container">
        <h5>Welcome! Here are your profile credentials:</h5>
        <ul class="list-group">
            <li class="list-group-item">Name: {{ current_user.name }}</li>
            <li class="list-group-item">Email: {{ current_user.email }}</li>
            <li class="list-group-item">Token: {{ current_user.token }}</li>
        </ul>
    </div>
{% endblock content %}